.bsp/
.metals/

requests/http-client.private.env.json

ogrodje-one-config
DEPLOY.md
.envrc
project/target
target
.idea/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Should not be in git.
k8s/000-secrets.yml

node_modules/

requests/