---
import '@fontsource/barlow';
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <title>Blindspot</title>
</head>
<body>

  <slot/>

</body>
</html>
<style lang="scss" is:global>

  html,
  body {
    margin: 0;
  }

  body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13pt;
    line-height: 1.8;
    padding: 10px
  }

  h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
  }
</style>
